<h1>Knockout 3.2 Component Demo</h1>
<div class="well">
    Including a knockout component (<a href="knockoutjs.com/documentation/component-overview.html" target="_blank">documentation</a>) is pretty easy and used throughout this application, here is a demo of how to use it with the debug component provided
    <br /><br /><p>&lt;debug params="data: exampleData"&gt;&lt;/debug&gt;</p>
    <br />
    <debug params="data: exampleData"></debug>
</div>
<h1>Ajax Demo</h1>
<div class="well">
    With TypeLite, we have full intellisense and compile time checking with TypeScript.  This means that our Ajax callbacks get full type information about the data we expect it to receive.
    <br /><br />
    <button data-bind="click: runAjaxRequest">Run Ajax Request</button>
</div>
<h1>Sprite Demo</h1>
<div class="well">
    Just a neat effect you can get with sprites, knockout and setInterval
    <br /><br />
    <div class="sprite-animation-sprite-frame{{ currentFrame }}"></div>
    <button data-bind="click: speedAnimation">Increase Animation Speed</button> 
    <button data-bind="click: slowAnimation">Decrease Animation Speed</button>
</div>
